header {
  text-align: center
}

 figure {
  text-align: center
}

 nav a {
  padding: 0 10px 0;
}

 figcaption {
  font-size: 15px;
  text-align: center;
}

 #featured-property {
  text-align: center;
}

 #featured-property p {
  width: 800px;
  display: inline-block;
}

 #details {
  display: block;
}

 #details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
